.App {
  text-align: center;
}

.App-logo {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.head{
  display: flex;
  background : rgb(101, 171, 101);
  justify-content: space-between;
  align-items: center;
}
.outer{
  text-align: center;
}
.mypage{
  height: 30px;
  width: 80px;
  border-radius: 20px;
  font-weight: 600;
  margin-right: 10px;
}
.menu{
  margin-top: 150px;
  text-align: center;
}
.nav{
  width: 20%;
  height: 300px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 0;
}
.nav:hover{
  background-color: rgb(36, 36, 36);
  transition: 300ms;
}
.reco{
  background-color: rgb(186, 186, 186);
}
.alarm{
  background-color: green;
}

.mytime{
  text-align: center;
  margin-top: 50px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-box{
  color: white;
}

.schedule td{
  padding: 1px;
}

.time_table td{
  border: 1px solid black;
  height: 50px;
  width: 64px;
  position: relative;
  padding:0;
  border-color: lightgray;
}
.time_table button {
  height: 70px;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 64px;
  color: white;
  border-style: groove;
  border-color: white;
  font-weight: 600;
}

.table{
  background-color: rgb(96, 96, 96);
}
.time_table{
  border-style: hidden;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(121, 138, 122, 1);
  margin-bottom: 50px;
  border-collapse: collapse;
  background: rgba(171, 190, 172, 1);
  text-align: center;
}
.a2, .a5, .a8{
  top:25px !important;
}
.delete{
  color: black;
  top: 0px;
  position: absolute;
  right: 3px;
}
.recoList{
  display: block;
}
.container{
  width: 390px;
  height: 844px;
  margin: 0 auto;
}

.bottom_menu { position: fixed; bottom: 0px; left: 0px; width: 100%; height: 70px; z-index:100; border-top: 1px solid black; background-color: rgba(74, 96, 63, 1);}
.bottom_menu > div { float: left; width: 33%; height: 100%; text-align: center; padding-top: 22px; color: white;}
.bottom_menu a {color: white; text-decoration: none;}

.subjectul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subjectli {
  margin-bottom: 10px;
  padding: 10px;
  height: 40px;
  background-color: rgba(171, 190, 172, 1);
  border-radius: 5px;
  color: rgb(47, 47, 47);
}

.subjectli:last-child {
  margin-bottom: 0;
}

.subjectli:hover {
  background-color: rgb(200, 222, 201);
}

.space{
  height: 200px;
}
.allcourse{
  border: 1px solid gainsboro;
  padding: 5px;
  border-radius: 10px;
}

.add{
  float: right;
}

.signup{
  top: 530px;
  left: 175px;
  width: 55px;
  height: 20px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  color: rgb(78, 78, 78);
  border-width: 1px;
}

.signup a{
  color: rgb(78, 78, 78);
  text-decoration: none;
  font-size: 13px;
}
.register-button{
  background-color: rgba(74, 96, 63, 1);
  width: 120px;
  height: 30px;
  color: rgb(182, 182, 182);
}

.logoutbtn{
  background-color: rgba(74, 96, 63, 1);
  width: 120px;
  height: 30px;
  color: rgb(182, 182, 182);
}
