.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.loginpage {
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(171, 190, 172, 1);
}
.logoimage {
  top: 250px;
  left: 95px;
  width: 200px;
  height: 192px;
  position: absolute;
}
.-denterspace {
  top: 433px;
  left: 121px;
  width: 162px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.rectangle8 {
  top: 0px;
  left: 13.290464401245117px;
  width: 136px;
  height: 25px;
  position: absolute;
  border-radius: 15px;
  background-color: rgba(171, 190, 172, 1);
  border-color: black;
}
.rectangle8:focus{
  background-color: white;
  border-color: black;
  outline: none;
}
.ellipse8 {
  top: 0px;
  left: 141.8846893310547px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.ellipse7 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.passwordenterspace {
  top: 468px;
  left: 122px;
  width: 162px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.rectangle9 {
  top: 0px;
  left: 13.290465354919434px;
  width: 136px;
  height: 25px;
  position: absolute;
  border-radius: 15px;
  background-color: rgba(171, 190, 172, 1);
  border-color: black;
}
.rectangle9:focus{
  background-color: white;
  border-color: black;
  outline: none;
}
.ellipse6 {
  top: 0px;
  left: 141.88470458984375px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.ellipse9 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.text {
  top: 435px;
  left: 57px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.text2 {
  top: 470px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.signinbutton {
  top: 520px;
  left: 175px;
  width: 55px;
  height: 20px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(136, 150, 136);
  color: white;
  border-width: 1px;
}

.find-id-wbutton {
  top: 497px;
  left: 212px;
  width: 62px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text5 {
  color: rgba(74, 96, 63, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.text7 {
  top: 498px;
  left: 196px;
  color: rgba(74, 96, 63, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
