.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.selectoptionpage7 {
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-neutral_light-lightest);
}
.frame51 {
  gap: 24px;
  top: 593px;
  left: 0px;
  width: 350px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.button-primary {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(74, 96, 63, 1);
}
.text {
  color: var(--dl-color-neutral_light-lightest);
  height: auto;
  text-align: left;
  line-height: normal;
}
.frame83 {
  gap: 41px;
  top: 67.88543701171875px;
  left: 8px;
  width: 375px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.progress-bar {
  width: 327px;
  height: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--dl-color-neutral_light-medium);
}
.rectangle1 {
  top: 0px;
  left: -0.5263516306877136px;
  width: 245px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
}
.frame74 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.text02 {
  color: var(--dl-color-neutral_dark-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
.back-button {
  top: 49px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.field {
  gap: 8px;
  top: 222.7705078125px;
  left: 32px;
  width: 300px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;

}
.content {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.text04 {
  gap: 1px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.text05 {
  color: var(--dl-color-neutral_dark-darkest);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.cursor {
  width: 0px;
  height: 16px;
}
.vector {
  width: 10px;
  height: 9px;
}
.bottombar {
  gap: 10px;
  top: 743.7705078125px;
  left: 0px;
  width: 390px;
  height: 100px;
  display: flex;
  padding: 19px 29px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(74, 96, 63, 1);
}
.selectoptionbutton {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(74, 96, 63, 1);
}
.optionselectbutton {
  top: 28px;
  left: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.text06 {
  top: 61px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homebutton {
  top: 0px;
  left: 130px;
  width: 130px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(74, 96, 63, 1);
}
.text08 {
  top: 63px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  top: 32px;
  left: 50px;
  width: 30px;
  height: 27px;
  position: absolute;
}
.mypagebutton {
  top: 0px;
  left: 260px;
  width: 130px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(74, 96, 63, 1);
}
.text10 {
  top: 63px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userpagebutton {
  top: 31px;
  left: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
}

