.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mypage {
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.myinfoframe {
  top: 119px;
  left: 14px;
  width: 362px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text {
  top: 13px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.text02 {
  top: 65px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.text04 {
  top: 40px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.logopage {
  top: -9px;
  left: 271px;
  width: 83px;
  height: 116px;
  position: absolute;
}
.i-o-status-bar {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.action {
  top: 14px;
  left: 20.689655303955078px;
  width: 56px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text06 {
  color: var(--dl-color-neutral_dark-darkest);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container1 {
  top: 16px;
  left: 308px;
  width: 68px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text08 {
  top: -3px;
  left: 41px;
  color: var(--dl-color-neutral_dark-darkest);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signal {
  top: 1.6000003814697266px;
  left: 0.5px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.text10 {
  top: -1px;
  left: 21px;
  color: var(--dl-color-neutral_dark-darkest);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text12 {
  top: 67px;
  left: 164px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accountframe {
  top: 255px;
  left: 14px;
  width: 362px;
  height: 168px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.text14 {
  top: 7px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame {
  top: 49px;
  left: 27px;
  width: 68px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1 {
  top: 89px;
  left: 27px;
  width: 100px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame2 {
  top: 129px;
  left: 27px;
  width: 84px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.etcframe {
  top: 446px;
  left: 12px;
  width: 362px;
  height: 125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.text22 {
  top: 7px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame3 {
  top: 47px;
  left: 27px;
  width: 68px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame4 {
  top: 87px;
  left: 27px;
  width: 63px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.bottombar {
  gap: 10px;
  top: 744px;
  left: 0px;
  width: 390px;
  height: 100px;
  display: flex;
  padding: 19px 29px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  background-color: rgba(74, 96, 63, 1);
}
.selectoptionbutton {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(74, 96, 63, 1);
}
.optionselectbutton {
  top: 28px;
  left: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.text28 {
  top: 61px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homebutton {
  top: 0px;
  left: 130px;
  width: 130px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(74, 96, 63, 1);
}
.text30 {
  top: 63px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  top: 32px;
  left: 50px;
  width: 30px;
  height: 27px;
  position: absolute;
}
.mypagebutton {
  top: 0px;
  left: 260px;
  width: 130px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(74, 96, 63, 1);
}
.text32 {
  top: 63px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Noto Sans Malayalam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userpagebutton {
  top: 31px;
  left: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
}
